<ion-header>
  <ion-toolbar>
    <ion-title>Modifier le Produit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
    <label for="title">Titre:</label>
    <input id="title" formControlName="title" type="text">
  
    <label for="resume">Résumé:</label>
    <textarea id="resume" formControlName="resume"></textarea>
  
    <label for="coverURL">URL de la couverture:</label>
    <input id="coverURL" formControlName="coverURL" type="text">

    <label for="maxPage">Nombre de pages max:</label>
    <input id="maxPage" formControlName="maxPage" type="number">
  
    <label for="author">Auteur:</label>
    <input id="author" formControlName="author" type="text">
  
    <button type="submit" [disabled]="updateForm.invalid">Mettre à jour le livre</button>
  </form>
</ion-content>
