<ion-header>
  <ion-toolbar>
    <ion-title>Modifier le Livre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ng-container *ngIf="book; else loading">
    <h2>{{ book.title }}</h2>
    <p><strong>Auteur:</strong> {{ book.author }}</p>
    <p><strong>Description:</strong> {{ book.resume }}</p>
        
    <ion-button>Sauvegarder</ion-button>
  </ng-container>

  <ng-template #loading>
    <ion-spinner></ion-spinner>
    <p>Chargement des informations du livre...</p>
  </ng-template>
</ion-content>
